# database
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=homellm
DB_HOST=localhost
DB_PORT=5432

# security
JWT_KEY=testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttest

# external services
REDIS_HOST=localhost
LLM_API_BASE=http://localhost:8001