# database
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=homellm
DB_HOST=localhost
DB_PORT=5432

# security
JWT_KEY=testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttest

# external services
REDIS_HOST=localhost
LLM_API_BASE=http://localhost:8001

# host ports mapping
FRONTEND_PORT=3000
BACKEND_PORT=8000
NGINX_PORT=80
REDIS_PORT=6379
LLM_PORT=8001 # port for vLLM server, make sure it is the same as the port in backend/models.yaml

# vLLM configuration
LLM_MODEL=Qwen/Qwen3.5-0.8B
LLM_MAX_LEN=4096 # be sure to check the max value under vllm in backend/models.yaml if you change this value 

ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=admin