postgres_password='password'
postgres_user='postgres'
postgres_db='homellm'

jwt_key='testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttest'
database_url='postgresql+asyncpg://postgres:password@localhost:5432/homellm'


redis_url='redis://localhost:6379/0'
task_queue_name='task_queue'
chat_stream_channel_prefix='chat_stream'
llm_api_url="http://localhost:8001/v1/chat/completions"


system_prompt="You are a helpful, objective, and highly capable AI assistant. Provide accurate, clear, and direct answers. Avoid unnecessary filler or conversational padding. Use Markdown formatting to organize information logically. Prioritize facts and the user's explicit instructions in every response"

max_llm_tokens=512