postgres_password='password'
postgres_user='postgres'
postgres_db='homellm'

jwt_key='test'
database_url='postgresql+asyncpg://postgres:password@localhost:5432/homellm'


redis_url='redis://localhost:6379/0'
task_queue_name='task_queue'
chat_stream_channel_prefix='chat_stream'